---
---

/*
gem install bootstrap-sass -v 3.3.7
curl -o _sass/_bootstrap-custom.scss https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/_bootstrap.scss # https://github.com/twbs/bootstrap-sass#sass
*/
@import 'bootstrap-custom';

/*
gem install rouge
rougify style github > _sass/syntax.css
*/
@import "rouge";

/*
wget https://github.com/primer/primer-css/archive/master.zip
unzip master.zip
cd primer-css-master
npm install --save primer-css
cp node_modules/primer-css/build.css _sass/
*/
@import "build";

/* position title above TOC if small screen */
/* TODO: use Sass to figure out 768px via variable */
@media (max-width: 768px) {
    .col-sm-9 h1 {
        display: none; /* hide other title */
    }
    .navbar-fixed-nav {
      display: none;
    }
}
@media (min-width: 768px) {
    .toc h1 {
        white-space: nowrap; /* confine to one line so title doesn't invisibly wrap */
        visibility: hidden; /* hide title above TOC but preserve its height */
    }

    .dropdown{
      display: none;
    }
}
.col-sm-12 nav + h1[id] {
    display: none;
}

/* position anchors below navbar-fixed-top */
/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
*[id]:before {
  content: " ";
  display: block;
  margin-top: -74px;
  height: 74px; /* TODO: base 50px + 24px on variables */
  visibility: hidden;
}

/* position columns below navbar-fixed-top */
/* http://getbootstrap.com/components/#navbar-fixed-top */
.col-sm-12 {
    padding-top: 50px;
    padding-left: 0px;
}
@media (min-width: 768px) {
    .toc { /* scroll TOC independently */
        bottom: 0;
        left: 0;
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0px;
    }
}

.col-home {
  top: 110px;
}

/* stylize TOC */
nav {
    font-size: smaller;
}
nav a {
    color: #22557D;
}
nav .navbar-form {
    box-shadow: none;
}

.navbar {
  background-color: #EE786D;
  border-bottom: none;
}

.navbar-fixed-nav {
  color: #FFF2E1;
  top: 50px;
  background-color: #C5645C;
  border: none;
  border-radius: 0px;
  height: 35px;
  width: 100%;
  z-index: 1030;
  position: fixed;
}

.navbar-fixed-nav a {
  color: #FFF2E1;
  text-decoration: none;
}

.navbar-fixed-nav a:hover {
  color: #22557D;
  text-decoration: none;
}

/* prevent word breaks */
.markdown-body {
    word-wrap: normal;
}

.showcase {
    list-style: none;
    height: 125px;
    color: #FFF2E1;
    background-color: #4D3054;
    padding-top: 0.01%;
    padding-left: 5%;
}

.showcase a {
    color: #FFF2E1;
}

.showcase img {
    max-width: 100%;
    max-height: 75%;
}

.showcase-list {
    list-style: none;
    max-width: 75%;
    height: 200px;
    color: #FFF2E1;
    background-color: #4D3054;
    padding-top: 1%;
    padding-left: 1%;
}

.showcase-list a {
    color: #FFF2E1;
    font-size: 24px;
}

.posts {
  width: 25%;
  z-index: 1020;
}

.recent {
  text-align: center;
  font-size: 24px;
}

/* constrain to viewport */
iframe, img {
    max-width: 100%;
}

.post-title {
  height: 85px;
  background-color: #4D3054;
  color: #FFF2E1;
  font-size: 30px;
}

.dropdown {
  z-index: 1080;
  float: right;
}

.dropdown-menu {
    border-radius: 0px;
    border: none;
}

.btn{
    border-radius: 0px;
    background: none;
    border: none;
    font-size: 25px;
    color: #FFF2E1;
}

.btn:hover{
    background: none;
    color: #4D3054;
}
